body {
    background-color: white;
    font-family: Arial;
    text-align: center;
}

.search-bar-text {
    padding-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
    
    @media (min-width:801px)  {
        font-size: 1.4em;
    }
}

.search-bar-input {
    padding: 5px;
    margin: 5px;
    width: 70%;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    @media (min-width:801px)  {
        width: 40%;
    }
}

.submit-button {
    padding: 5px 15px;
    margin: 5px;
    background: #ccc;
    border-color: #ccc;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.line-graph {
    text-align: left;
    width: 70%;
}