body {
    background-color: white;
    font-family: Arial;
    text-align: center;
}

.search-bar-and-graph {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 5%;

    @media (min-width:801px)  {
        padding: 3%;
    }
}

.bar-chart {
    text-align: left;
    width: 100%;
    font-size: 0.7em;
    padding-top: 8%;

    @media (min-width:801px)  {
        padding-top: 2%;
        font-size: 1em;
        margin-left: 2em;
        width: 55%;
    }
}