@font-face {
    font-family: "JetBrainsMonoMedium";
    src: local("JetBrainsMono-Medium"),
    url(fonts/JetBrainsMono-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "JetBrainsMonoExtraBoldItalic";
    src: local("JetBrainsMono-ExtraBoldItalic"),
    url(fonts/JetBrainsMono-ExtraBoldItalic.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
}

.all-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.header-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    font-family: JetBrainsMonoMedium;
    font-size: xx-small;
    background-color: #323232;
    color: white;
    height: 10em;
    padding: 0.5%;

    @media (min-width:801px)  {
        font-size: small;
        height: 6em;
    }

    span {
        display: inline-block;
        font-size: x-small;
    
        @media (min-width:801px)  {
            font-size: small;
        }
    }
}

.bold-text {
    font-family: JetBrainsMonoExtraBoldItalic;
}

.banner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 85%;
}

.icon-logo {
    width: 8px;

    @media (min-width:801px)  {
        width: 11px;
    }
}

.kubes-text {
    color: #3C6FDE;
}

.react-text {
    color: rgb(53, 126, 152);
}

.spring-boot-text {
    color: rgb(125, 186, 86);
}

.java-text {
    color: rgb(230, 148, 57);
}

.python-text {
    color: rgb(247, 203, 75);
}

.eks-text {
    color: rgb(75, 89, 170);
}

.github-link {
    color: #fdec96;
}