@font-face {
    font-family: "JetBrainsMonoMedium";
    src: local("JetBrainsMono-Medium"),
    url(fonts/JetBrainsMono-Medium.ttf) format("truetype");
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header-banner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-family: JetBrainsMonoMedium;
    font-size: small;
    background-color: #4c4b4b;
    color: white;
    height: 3.8em;

    a {
        color: #fdec96;
    }
}

.kubes-logo {
    width: 13px;
}