# Ignore all files in the root directory
*
# Include the src directory
!src/
!pom.xml
!application-prod.properties
!application.properties
# Exclude the target directory and its contents
target/

!target/chanalyzer-0.0.1-SNAPSHOT.jar